body {
	font: 12px verdana;
	background-color: #A8BDB6;
}

#header {
	background-color: #dde;
	border-top: 3px solid #36c;
	height: 100%;
	overflow: hidden;
	padding: 7px;
	margin-top: 5px;
}

#header h1 {
	font-size: 20px;
	float: left;
	vertical-align: middle;
	margin: 0;
	padding: 0 0 0 .3em;	
}

#header li {
	font-size: 14px;
	display: inline;
	padding: .5em;
}

#header li a.selected {
color: blue;
text-decoration: underline;
}

#header ul {
	list-style: none;
	float: right;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

a {
	color: blue;
}

#header h1 a {
	text-decoration: none;
	color: black;
}

.title {
	text-align: center;
	font-weight: bold;
}

.main-description {
	text-align: center;
}

.main-pic {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.guest-area {
	text-align: center;
}
