<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Welcome to Spirale Internet Cafe Restaurant</title>
        <META name="description" content="On Richmond Hill. Serving tea, coffee and quality continental food, Internet Access. ">
        <META name="keywords" content="Internet, Cyber, Cafe, Restaurant, food, web, coffee, tea, drinks ">
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    </head>
    <body>
        <div id="header">
            <h1><a href="/">Welcome to Spirale Internet Cafe Restaurant</a></h1>
            <ul>
                <li>
                    <a href="/" class="selected">Home</a>
                </li>
                <li>
                    <a href="menu" class="selected">Menu</a>
                </li>
                <li>
                    <a href="contacts" class="selected">Feedback &amp Contacts</a>
                </li>
            </ul>
        </div>
        
		<div class="guest-area">
            <h4>Leave us an Anonymous comment or if you have a google account sign in first</h4>
            <p/><a href="http://www.spirale.co.uk/contact">Return to Contact Page</a>
            <p/>
            <form action="/sign" method="post">
                <div>
                    <textarea name="content" rows="3" cols="60">
                    </textarea>
                </div>
                <div>
                    <input type="submit" value="Leave A Message">
                    </input>
                </div>
            </form><a href="{{ url }}">{{ url_linktext }}</a>
            <p/>{% for greeting in greetings %}
            {% if greeting.author %}
            {{ greeting.author.nickname }} wrote:
            {% else %}
            An anonymous person wrote on {{ greeting.date|date:"r" }}:
            {% endif %}
            <blockquote>
                <b>{{ greeting.content|escape }}</b>
            </blockquote>
        </div>
        {% endfor %}
    </body>
</html>
